<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for @movie,:html => { :multipart => true } do |m| %>

      <div class="form-group">
        <%= m.label :title %>
        <%= m.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= m.label :author %>
        <%= m.text_field :author, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= m.label :description %>
        <%= m.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group"><%= m.file_field :image, class: 'form-control' %></div>

      <div class="form-group">
        <%= m.submit %>
      </div>

    <% end %>
  </div>
</div>
