<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Amazing movie reviews picked just for you!</h1>
  </div>
</div>

<div class="row">  
  <% @movies.each do |movie| %>
    <div class="col-xs-3 text-center">
      <div class="panel panel-default black-border">
        <div class="panel-body">
          <%= image_tag movie.image.url(:medium) %>
        </div>
        <div class="panel-footer"><%= link_to movie.title,movie %></div>
        <% if owned(movie) %>
          <p>
            <%= link_to 'Edit This Movie', edit_movie_path(movie) %> | <%= link_to 'Delete the movie', movie, method: :delete %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="row margin-top-small">
  <div class="col-xs-12 text-center">
    <p>
      <button class="btn btn-default btn-lg">
          <%= link_to 'New movie', new_movie_path %>
      </button>
    </p>
  </div>
</div>
