<div class="row">
  <div class="col-xs-8 col-xs-offset-2 well black-border">    
    <div class="col-xs-4">
      <h1 class="text-center"><%= @movie.title %></h1>
      <p><%= image_tag @movie.image.url(:medium) %></p>
      <p class="text-center">Description: <%= @movie.description %></p>
      <p class="text-center">Author: <%= @movie.author %></p>
      <p class="text-center">Posted by: <%= current_user.email %></p>
    </div>
    <div class="col-xs-4 col-xs-offset-2 margin-top-small"> 
      <p>
        <% @shown_comments.each do |comment| %>
          <p><%= comment.text %></p>
          <p>User: <%= comment.user.email %></p>
        <% end %>
      </p>
      <hr>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <button class="btn btn-default btn-lg"><%= link_to 'See All Movies', '/'%></button>
  </div> 
</div>
