<!DOCTYPE html>
<html>
<head>
  <title>AMovie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg">
  
  <% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <% end %>
  
  <div class="container-fluid">

    <% unless notice.nil? %>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <p class="alert alert-info alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </p>
        </div>
      </div>
    <% end %>

    <% unless alert.nil? %>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <p class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </p>
        </div>
      </div>
    <% end %>
    
    <%= yield %>
  
  </div>

</body>
</html>
